name: quality
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install
      run: pip install -e ".[quality]"
    - name: Run quality checks
      run: make quality
